[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp-jinja2 = "*"
jinja2-time = "*"
aioredis = "*"
pyyaml = "*"
psycopg2-binary = "*"
aiohttp-session = "*"
cryptography = "*"
aiohttp-route = "*"


[dev-packages]

pylama = "*"
autopep8 = "*"


[requires]

python_version = "3.6"


[packages.aiopg]

extras = [ "sa",]
