[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp-jinja2 = "*"
aiopg = "*"
jinja2-time = "*"
aioredis = "*"


[dev-packages]

pylama = "*"
autopep8 = "*"


[requires]

python_version = "3.6"
